src/main/mule/hello-world.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4635da4d-75bd-4e23-8aea-6ca7f07f09f9" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hello-worldFlow" doc:id="794fe3d0-30d6-4b3c-a435-bad215d78161" >
		<http:listener doc:name="Listener" doc:id="d9b947fe-d5b4-4bff-8f9e-190868f9db73" config-ref="HTTP_Listener_config" path="/hello-world"/>
		<ee:transform doc:name="Transform Message" doc:id="270ef4fb-8c4f-4e4a-9e10-5d460b64f7f6" >
			<ee:message > 
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{ 
	message : "Hello-World"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="78df8336-0755-4932-bb08-5cc7bb281ffe" />
		<logger message="Just info message: the payload was set" level="INFO" category="com.mulesoft.support.logging-levels-poc.info" doc:name="Logger INFO"/>
<logger message="The payload is: #[payload]" level="DEBUG" category="com.mulesoft.support.logging-levels-poc.debug" doc:name="Logger DEBUG"/>
	</flow>
</mule>
